<h1>Login to your account</h1>
<form id='login'>
  <input id='login-username' placeholder='username' type='text' />
  <input id='login-password' placeholder='password' type='password' />
  <button type='submit'>Login</button>
</form>

<h1>Create and account with us</h1>
<form id='signup'>
  <input id='signup-username' placeholder='username' type='text' />
  <input id='signup-password' placeholder='password' type='password' />
  <button type='submit'>Create</button>
</form>